.wrapper {

  font-size: (2 * var(--s));
  display: flex;

  flex-direction: column;
  text-align: left;
  align-items: left;
  margin: calc(2.0 * var(--s));
  margin-top: 0;
  height: calc(100vh - 13.5vh - (22 * var(--s)));


  color: var(--colorDarkText);
  /* border-radius: calc(0.5 * var(--s)); */
  padding: calc(2.0 * var(--s));

  overflow-y: auto;
}

.breakable {
  /* width: 100%; */
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
}

.listContainer {
  width: 100%;
  display: flex;
  justify-content: left;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin: calc(0.1 * var(--s));
  margin-bottom: calc(1 * var(--s));
}

.listItem {
  box-sizing: border-box;
  font-size: calc(2.5 * var(--s));
  color: var(--colorBackground);
  background-color: var(--colorBitcoinBlue);
  border-radius: calc(0.5 * var(--s));
  padding: calc(0.5 * var(--s)) calc(2 * var(--s));
  margin: calc(1 * var(--s)) calc(2 * var(--s));
  cursor: pointer;
  height: auto;
}

.listItem .key {
  color: var(--colorBitcoinOrange);

}

.listItem,
.listItem .key,
.listItem span,
.listItem div {
  white-space: pre-wrap;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
}

.wrapper .listItem:hover {
  background-color: var(--colorBitcoinOrange);
}

.wrapper .listItem:hover .key {
  color: var(--colorBitcoinBlue);
}

.wrapper .listItem:hover:active {
  transform: translateY(calc(0.2 * var(--s)));
}

.wrapper::-webkit-scrollbar {
  /* chrome scroll bar */
  background: var(--colorTransparent);
  height: calc(0.5 * var(--s));
  width: calc(1 * var(--s));
}

.wrapper::-webkit-scrollbar-track {
  /* chrome scroll bar background */
  background: var(--colorTransparent);
}

.wrapper::-webkit-scrollbar-thumb {
  /* scroll bar itself */
  background-color: var(--colorDarker1);
  border-radius: calc(0.5 * var(--s));
  box-shadow: inset 0 0 0 calc(0.1 * var(--s)) var(--colorTransparent);
}



.expired {
  display: inline-block;
  color: var(--colorWarning);
  /* margin-bottom: calc(0.5 * var(--s)); */
}

.avaiability {
  width: 100%;
  text-align: center;
}

.createLink {
  display: inline-block;
  text-align: center;
  opacity: 1;
  background-color: var(--colorBitcoinOrange);
  color: var(--colorBackground);
  width: calc(40 * var(--s));;
  font-size: calc(3 * var(--s));
  padding: calc(0.6 * var(--s)) calc(3 * var(--s));
  margin: calc(0.5 * var(--s));
  border-radius: calc(0.5 * var(--s));
  justify-self: center;
  align-self: center;
}

.createLink:hover {
  background-color: var(--colorBitcoinBlue);
  color: var(--colorBackground);
}

.describe {
  padding: calc(0.75 * var(--s)) calc(2 * var(--s));
  color: var(--colorLightText);
  /* margin-bottom: calc(2 * var(--s)); */
  text-align: left;
  flex-basis: 100%;
  box-sizing: border-box;

}

.describe > div {
  display: block;
}

.ownershipDetails {
  /* flex-basis: 100%; */
  text-align: center;
  margin-bottom: calc(2 * var(--s));
  box-sizing: border-box;
  text-align: left;
}

/* allow details to be selectable */
.ownershipDetails span,
.ownershipDetails p {
  -webkit-user-select: text;
  -moz-user-select: -moz-text;
  -ms-user-select: text;
  user-select: text;
}


@media screen and (min-aspect-ratio: 12/9) {
  .listContainer {
    transform-origin: top;
    transform: scale(var(--horizontalScale));
    justify-content: space-evenly;
  }

  .wrapper {
    height: calc(100vh - (13.5vh + (16 * var(--s)) + (6 * var(--s) * var(--horizontalScale))));
  }

  .describe {
    /* flex-basis: 30%; */
    /* justify-content: start; */
  }

  .ownershipDetails {
    /* align-self: flex-start; */
    /* flex-basis: 100%; */
    text-align: left;
  }

}