.wrapper {
  padding: 0;
  padding-top: 14vh;
  box-sizing: border-box;
  margin: 0 calc(0.2 * var(--s));
  /* doesn't change measured width if scroll bar appears or not */
  overflow-y: scroll;
  overflow-x: hidden;
  height: calc(100vh - var(--headerOffset) - calc(6 * var(--s)));
}

.horizontalScaler {
  transform-origin: top;
  transform: scale(var(--verticalScale));
}

@media screen and (min-aspect-ratio: 12/9) {
  .horizontalScaler {
    transform-origin: top;
    transform: scale(var(--horizontalScale));
  }
  .wrapper {
    height: calc(
      100vh - var(--headerOffset) - (6 * var(--s) * var(--horizontalScale))
    );
  }
}
