.wrapper {
  box-sizing: border-box;

  margin: 0 calc(2 * var(--s));
  font-size: calc(2.5 * var(--s));
  color: var(--colorBitcoinBlue);
  display: grid;

  grid-template-columns:  auto auto;
  grid-template-rows:     auto auto auto auto auto;

  grid-gap: calc(1 * var(--s)) calc(1 * var(--s));

  grid-template-areas:
    "title            title"
    "fees             fees"
    "txSummary        txSummary"
    "txid             txid"
    "buttonWrapper    buttonWrapper"
  ;

  align-items: center;
}

.title {
  grid-area: title;
  font-size: calc(3 * var(--s));
  margin-bottom: calc(5 * var(--s));
}

.fees {
  grid-area: fees;
}

.txSummary {
  grid-area: txSummary;
}

.txid {
  grid-area: txid;
}

.txid__button {
  display: inline-block;
  background-color: var(--colorBitcoinBlue);
  color: var(--colorBitcoinOrange);
  border-radius: calc(0.5 * var(--s));
  margin: calc(1 * var(--s));
  padding: calc(0.75 * var(--s)) calc(2 * var(--s));
}

.txid__button:hover {
  color: var(--colorBackground);
}

.txid__failed {
  margin: calc(1 * var(--s));
  padding: calc(0.75 * var(--s)) calc(2 * var(--s));
  color: var(--colorWarning);
}

.buttonWrapper {
  grid-area: buttonWrapper;
}

.fees__rate {
  position: relative;
  display: inline-block;
}

.fees__rate {
  width: calc(30 * var(--s));
  overflow-x: visible;
}

.fees__rate aside {
  top: calc(-2.8 * var(--s));
  line-height: calc(2.5 * var(--s));
  left: calc(-2 * var(--s));
  font-size: calc(2.3 * var(--s));
  position: absolute;
  display: block;
  color: var(--colorBitcoinBlue);
  opacity: 0.7;
  text-align: left;
}

.fees__rate {
  margin-left: calc(2 * var(--s));
}

.fees__apicall {
  display: inline-block;
}

.fees__feeSelection {
  padding: calc(1 * var(--s));
}

.fees__feeSelection__choice {
  font-size: calc(2 * var(--s));
  margin: calc(1 * var(--s));
  padding: calc(0.75 * var(--s)) calc(1 * var(--s));
  background-color: var(--colorDarker1);
  border-radius: calc(0.5 * var(--s));
  cursor: pointer;
}

.fees__feeSelection__choice:hover {
  background-color: var(--colorDarker2);
}

.fees__feeSelection__choice:active {
  transform: translateY(calc(0.2 * var(--s)));
}

.txSummary th {
  font-size: calc(2.3 * var(--s));
  font-weight: normal;
}

th:nth-child(1) {
  opacity: 0.7;
}
