.wrapper {
  line-height: 0;
}

.logo {
  --wallet__logo_size: calc((5 * var(--s)));
  text-rendering: geometricPrecision; /* firefox improvement */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  opacity: 0.3;
}

.logo:hover {
  cursor: pointer;
  opacity: 0.9;
}

.logo:active {
  transform: translateY(calc(0.1 * var(--s)));
}
