.wrapper {
  line-height: 0;
}

.logo {
  text-rendering: geometricPrecision; /* firefox improvement */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  opacity: 0.2;
  filter: saturate(0.1);
  transform: translateY(calc(0 * var(--s))) scale(0.7);
  transform-origin: bottom left;
}

.logo:hover {
  cursor: pointer;
  opacity: 0.9;
  filter: saturate(1);
  transform: translate(0, calc(0 * var(--s))) scale(0.7);
}

.logo:active {
  /* transform-origin: center; */
  transform: translate(1%, calc(0.1 * var(--s))) scale(0.68);
}

.logo_selected {
  opacity: 0.9;
  filter: saturate(1);
}

.interface_not {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 200vw;
  height: 200vh;
}

.interface {
  bottom: var(--wallet__logo_size);
  left: 2.5vmin;
  padding: 5vmin;
  width: 95vmin;
  height: auto;
  position: fixed;
  background-color: var(--colorHoverWallet);
  /* background: linear-gradient(
    135deg,
    var(--colorGradientBottomRight) 0%,
    var(--colorGradientTopLeft) 100%
  ); */
  /* border: calc(0.3 * var(--s)) solid var(--colorBitcoinBlue); */
  box-shadow: calc(1 * var(--s)) calc(1 * var(--s)) calc(3 * var(--s))
    calc(1 * var(--s)) #00000022;

  box-sizing: border-box;
  color: var(--colorButtonText);
}
