.wrapper {
  color: var(--colorBitcoinBlue);
  font-size: calc(2.5 * var(--s));
}

.title {
  display: inline-block;
  font-size: calc(3 * var(--s));
  margin: calc(1 * var(--s));
  margin-bottom: calc(3 * var(--s));
  cursor: default;
  color: var(--colorBitcoinBlue);
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonWrapper {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap-reverse;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: calc(4 * var(--s));
}

.buttonWrapper > div {
  box-sizing: border-box;
  margin: calc(2 * var(--s)) calc(3 * var(--s));
}

.describe {
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}

.Orange {
  color: var(--colorBitcoinOrange);;
  text-shadow: none;
}

.spacer {
  margin-top: 30vh;
}

.backup {
  font-size: calc(2.5 * var(--s));
  border-radius: calc(0.5 * var(--s));
  padding: calc(1 * var(--s)) calc(2 * var(--s));
  margin: calc(2 * var(--s));
  color: var(--colorBitcoinOrange);
  background-color: var(--colorBackground);
  width: 70vw;
  cursor: default;
}

.restoreBackup {
  width: 70vw;
  color: var(--colorBitcoinOrange);
  caret-color: var(--colorBitcoinOrange);
  height: calc(20 * var(--s));
  border: calc(1 * var(--s)) solid white;
  line-height: calc(4 * var(--s));
  overflow-y: auto;
  overflow-x: hidden;
  word-wrap: normal;
  overflow-wrap: normal;
  white-space: normal;
  box-sizing: border-box;
  margin: calc(2 * var(--s));
}

.restoreBackup::placeholder {
  color: var(--colorBitcoinOrange);
  opacity: 0.5;
}