 /* total height: padding 2s, 2.5s a text line, 2s a padding = 6.0s */
.root {
  box-sizing: border-box;
  display: inline-block;
  position: absolute;
  bottom: calc(0 * var(--s));
  right: calc(0 * var(--s));
  text-align: right;
  color: var(--colorDarker4);
  vertical-align: middle;
  word-wrap: normal;
  overflow-x: hidden;
  white-space: nowrap;
  width: 100%;
  padding: calc(1 * var(--s));
}

.root a {
  color: var(--colorDarker5);
  display: inline-block;
  vertical-align: middle;
  font-size: calc(2.5 * var(--s));
  line-height: calc(2.5 * var(--s));
  margin: 0 calc(0.25 * var(--s));
  padding: calc(0.75 * var(--s)) calc(3 * var(--s));
  border-radius: calc(0.5 * var(--s));
}

.warning {
  /* padding: calc(1 * var(--s)); */
  display: inline-block;
  position: absolute;
  bottom: calc(6 * var(--s));
  left: calc(0.1 * var(--s));
  color: red;
  font-size: calc(2 * var(--s));
  margin-left: calc(1 * var(--s));
  vertical-align: middle;
  z-index: 1000;
}

.pageNum {
  color: var(--colorDarker5);
  display: inline-block;
  font-size: calc(2.3 * var(--s));
  line-height: calc(2.5 * var(--s));
  float: left;
  margin: 0 calc(0.25 * var(--s));
  padding: calc(0.75 * var(--s)) calc(1 * var(--s));
  vertical-align: middle;
}

.root a:hover {
  background-color: var(--colorBrighter8);
  background-color: var(--colorDarker05);
}

.root .selected {
  background-color: var(--colorDarker05);
  /* border-top: calc(0.3 * var(--s)) solid var(--colorDarker1); */
  /* border-top-left-radius: 0; */
  /* border-top-right-radius: 0; */
  /* border-left: calc(0.25 * var(--s)) solid var(--colorDarker1); */

  /* background-color: var(--colorBrighter8); */
}

.root .selected:hover {
  background-color: var(--colorDarker05);
  /* background-color: var(--colorBrighter8); */
}

/* wide screen settings */
@media screen and (min-aspect-ratio: 12/9) {
  .root {
    transform-origin: bottom right;
    transform: scale(var(--horizontalScale));
    width: calc(100% / var(--horizontalScale));
  }

}