.root {
  display: inline-block;
  position: absolute;
  bottom: calc(0 * var(--s));
  right: calc(0 * var(--s));
  text-align: right;
  color: var(--colorDarker4);
  vertical-align: middle;
  word-wrap: normal;
  overflow-x: hidden;
  white-space: nowrap;
  width: 100%;
  padding-right: calc(1 * var(--s));
}

.root a {
  color: var(--colorDarker5);
  display: inline-block;
  vertical-align: middle;
  font-size: calc(2.5 * var(--s));
  margin: 0 calc(0.25 * var(--s));
  margin-bottom: calc(0.25 * var(--s));

}

.warning {
  /* padding: calc(1 * var(--s)); */
  display: inline-block;
  position: absolute;
  top: calc(0.1 * var(--s));
  right: calc(0.1 * var(--s));
  color: red;
  font-size: calc(2 * var(--s));
  margin-right: calc(2 * var(--s));
  vertical-align: middle;
  z-index: 1000;
}


/* wide screen settings */
@media screen and (min-aspect-ratio: 12/9) {
  .root a {
    /* font-size: calc(1.9 * var(--s)); */
    margin: 0 0;
    transform-origin: right;
    transform: scale(var(--horizontalScale));
  }

}