.lblMainTitle {
  display: block;
  font-size: calc(5 * var(--s));
  color: var(--colorBitcoinBlue);
  margin-top: 25vh;
}
.lblMainTitle span {
  color: var(--colorBitcoinOrange);
}

.lblMainTitleAfter {
  margin-top: 10vh;
}

.results {
  padding-top: calc(2 * var(--s));
  height: 100%;
}

.divSearch {
  display: inline-block;
  width: 100%;
  margin-top: 5vh;
}

.divSearchAfter {
  margin-top: 3vh;
}

.txtSearch {
  color: var(--colorBitcoinOrange);
  width: 50vw;
  caret-color: var(--colorBitcoinOrange);
}

.txtSearch:placeholder-shown {
  caret-color: rgba(255, 166, 0, 0.13);
}

.txtSearch::placeholder {
  color: var(--colorBitcoinOrange);
}

/* -------------------------------------------------------------------------- */
/*                           @media values below only                         */
/* -------------------------------------------------------------------------- */

.wrapper {
  box-sizing: border-box;
  transform-origin: top left;

  /* fixed makes children with fixed work better */
  position: fixed;

  transform: scale(var(--verticalScale));
  width: 100%;
  height: calc(var(--dh));
}

.lblMainTitle,
.divSearch {
  box-sizing: border-box;

  transform-origin: top;
  transform: scale(var(--verticalScale));
  --correction: 1.1;
}

@media screen and (min-aspect-ratio: 14/10) {
  .wrapper {
    transform: scale(var(--horizontalScale));
    width: calc(100% / var(--horizontalScale));
    height: calc((var(--dh) / var(--horizontalScale)));
  }

  /* search bar & title could use a bit less scaling  */
  .divSearch,
  .lblMainTitle {
    transform: scale(var(--correction));
  }
}
