.lblMainTitle {
  display: block;
  font-size: calc(5.0 * var(--s));
  color: var(--colorBitcoinBlue);
  margin-top: 25vh;
}
.lblMainTitle span {
  color: var(--colorBitcoinOrange);
}

.lblMainTitleAfter {
  margin-top: 10vh;
}

.divSearch {
  display: inline-block;
  width: 100%;
  margin-top: 5vh;
}

.divSearchAfter {
  margin-top: 3vh;
  /* margin-bottom: 2vh; */
}

.txtSearch {
  color: var(--colorBitcoinOrange);
  width: 50vw;
  caret-color: var(--colorBitcoinOrange);
}

.txtSearch:placeholder-shown {
  caret-color: rgba(255, 166, 0, 0.13);
}

.txtSearch::placeholder {
  color: var(--colorBitcoinOrange);
}

@media screen and (min-aspect-ratio: 12/9) {
  .wrapper {
    transform-origin: top;
    transform: scale(var(--horizontalScale));
  }
}