.wrapper {
  box-sizing: border-box;
  color: var(--colorBitcoinBlue);
  font-size: calc(2 * var(--s));

  margin: 0 calc(1.5 * var(--s));
  overflow-y: auto;
  height: calc(100vh - (6 * var(--s)));
}

.title {
  font-size: calc(3 * var(--s));
  margin: calc(2 * var(--s));
}

.title span,
.contentWrapper p span {
  color: var(--colorBitcoinOrange);
  font-weight: bold;
}

.drawing {
  /* border: 1px solid blue; */
  display: block;
  width: 66%;
  /* height: auto; */
  margin: 0 auto;

}

.contentWrapper {
  box-sizing: border-box;

  text-align: left;
  padding: calc(0.3 * var(--s)) calc(1 * var(--s));
}

.contentWrapper p {
  display: block;
  box-sizing: border-box;
  margin: calc(0.5 * var(--s)) 0;
  padding: 0;

  --offset: calc(2 * var(--s));
  text-indent: calc(-1 * var(--offset));
  padding-left: var(--offset);
}

.contentWrapper a {
  box-sizing: border-box;
  display: inline-block;

  color: var(--colorBitcoinOrange);
  margin-left: calc(1 * var(--s));
  padding: calc(0.1 * var(--s)) calc(1 * var(--s));
  border-radius: calc(0.5 * var(--s));
  text-indent: 0;
}

.contentWrapper a:hover {
  background-color: var(--colorBrighter8);
}



/* unused */
.wrapper pre {
  font-size: calc(1.5 * var(--s));
  text-align: left;
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;
  word-break: break-all;

  user-select: text;
}


@media screen and (min-aspect-ratio: 12/9) {
  .wrapper {
    height: calc(100vh - (6 * var(--s) * var(--horizontalScale)));
  }
}